a2/cmake-build-debug
a2/.idea
a3/cmake-build-debug
a3/.idea
a3/build
a4/cmake-build-debug
a4/.idea
a4/build
a4/minisat/build
project/cmake-build-debug
project/.idea
project/build
t2/cmake-build-debug
t2/.idea
t2/build
t2/q3.pdf
t2/q4.pdf
t2/q5.pdf
**/.DS_Store
.DS_Store
